<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Target to write logs to a file, using the variable logDirectory -->
		<target name="file" xsi:type="File" fileName="${var:diretorioLog}/log.txt" layout="${longdate} ${level} ${message}" />

		<!-- Console logging -->
		<target name="console" xsi:type="Console" layout="${longdate} ${level} ${message}" />
	</targets>

	<rules>
		<!-- All logs at Info level and higher will go to both console and file -->
		<logger name="*" minlevel="Trace" writeTo="file,console" />
	</rules>
</nlog>
